@import "tailwindcss";


.active-nav {
  @apply font-bold hover:text-main hover:cursor-pointer relative before:content-[''] before:absolute before:block before:w-full before:h-[3px] before:rounded before:-bottom-[1.17rem] before:left-0 before:bg-main before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300;
}

.active-nav.active {
  @apply text-main cursor-pointer before:scale-x-100 transition-all hover:transition-all;
}


@theme {

  /* --container-container: */

  /* --background-SignInBgImg: url('assets/images/signInBgImg.webp'); */

  --color-main: #006db7;
  --color-acgrey: #ACACAC;
  --color-acash: #0000005e;
  --color-aclightash: #EAEAEA;
  --color-acicongray:#828282;
  
}